# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Private / Data files
*.xlsx
*.xls
*.txt
scratch/

# OS metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDE
.vscode/
